<br>
<hr>
<br>
<div class="donate">
	<p>Cu drag, Said<br>
	<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsaeeeed.gq" target="_blank">
	   Sher pe fb </a> <br>
	<a href="https://twitter.com/intent/tweet?url=URL&text=TEXT&via=hecz0r" target="_blank">Tweet</a> <br>
	<p> Sher pe: <br>
	<ul class="share-buttons">
	  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsaeeeed.gq&quote=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">Facebook</a></li>
	  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fsaeeeed.gq&text=:%20http%3A%2F%2Fsaeeeed.gq&via=hecz0r" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">Twitter</a></li>
	  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fsaeeeed.gq&quote=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;">Tumblr</a></li>
	  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fsaeeeed.gq&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">Reddit</a></li>
	</ul>
	</div>
